
<div class="row">
  <div class="col-sm">&nbsp;</div>
  <div cdkDropList class="draggable-box col-sm" #analyze="cdkDropList" [cdkDropListConnectedTo]="[inProgress, testing]" [cdkDropListData]="analyzing" (cdkDropListDropped)="drop($event)">
      <span class="draggable" *ngFor="let dev of analyzing" cdkDrag [innerHTML]="dev.getPictureAsHTML()"></span>
  </div>

  <div cdkDropList class="draggable-box col-sm" #inProgress="cdkDropList" [cdkDropListConnectedTo]="[analyze, testing]" [cdkDropListData]="working"  (cdkDropListDropped)="drop($event)">
      <span class="draggable" *ngFor="let dev of working" cdkDrag [innerHTML]="dev.getPictureAsHTML()"></span>
  </div>


  <div cdkDropList class="draggable-box col-sm" #testing="cdkDropList" [cdkDropListConnectedTo]="[analyze, inProgress]" [cdkDropListData]="testers" (cdkDropListDropped)="drop($event)">
      <span class="draggable" *ngFor="let dev of testers" cdkDrag [innerHTML]="dev.getPictureAsHTML()"></span>
  </div>
  <div class="col-sm">&nbsp;</div>
</div>

