<div class="row">
  <div class="col-sm text-lg-center">Backlog</div>
  <div class="col-sm text-lg-center">Analyze ({{ (analyzingEfficiency * 100).toFixed(2) }}%)</div>
  <div class="col-sm text-lg-center">In Progress ({{ (workingEfficiency * 100).toFixed(2) }}%)</div>
  <div class="col-sm text-lg-center">Test ({{ (testingEfficiency * 100).toFixed(2) }}%)</div>
  <div class="col-sm text-lg-center">Done</div>
</div>

<div class="row">
  <div cdkDropList #backlog="cdkDropList" class="col-sm task-draggable-box" [cdkDropListConnectedTo]="[analyzing]" [cdkDropListData]="backlogTasks" (cdkDropListDropped)="drop($event)">
      <app-task [task]="task" cdkDrag *ngFor="let task of backlogTasks"></app-task>
  </div>
  <div cdkDropList #analyzing="cdkDropList" class="col-sm task-draggable-box" [cdkDropListConnectedTo]="[working]" [cdkDropListData]="analyzingTasks" (cdkDropListDropped)="drop($event)">
      <app-task [task]="task"  *ngFor="let task of analyzingTasks" cdkDrag></app-task>
  </div>
  <div cdkDropList #working="cdkDropList" class="col-sm task-draggable-box" [cdkDropListConnectedTo]="[testing]" [cdkDropListData]="workingTasks" (cdkDropListDropped)="drop($event)">
      <app-task [task]="task" *ngFor="let task of workingTasks" cdkDrag></app-task>
  </div>
  <div cdkDropList #testing="cdkDropList" class="col-sm task-draggable-box" [cdkDropListConnectedTo]="[finished]" [cdkDropListData]="testingTasks" (cdkDropListDropped)="drop($event)">
      <app-task [task]="task" *ngFor="let task of testingTasks" cdkDrag></app-task>
  </div>
  <div cdkDropList #finished="cdkDropList" class="col-sm task-draggable-box" [cdkDropListData]="finishedTasks" (cdkDropListDropped)="drop($event)">
      <app-task [task]="task" *ngFor="let task of finishedTasks" cdkDrag></app-task>
  </div>
</div>
