<br/>
<p>Sprint {{ currentSprint }} / Day {{ currentDay }} </p>
<mat-slide-toggle id="pause-game"  [(ngModel)]="isPaused" name="isPaused" ngDefaultControl></mat-slide-toggle><label for="pause-game">Paused</label>
<app-player-status></app-player-status>
<app-developers #developers></app-developers>
<app-tasks #tasks></app-tasks>
