<div class="container">
  <h4>Your goal is to deliver the highest value of tasks within 4 sprints</h4>
  <p>You can drag tasks between columns on the task board. However, you can do it only according to the order of these columns (one by one) and only when the task is completed. At the moment of undertaking the task from the backlog (the first column in the task board), the simulator will automatically add a new task to the backlog.</p>
  The pace of tasks exeuction is determined by its effort, the number of people in a given team and the number of parallel tasks. All tasks dragged into a given status are immediately executed. This means that if you assign to many tasks in parallel, you will wait for them to be completed very long. In addition, if the number of parallel tasks is greater than the number of people (so called WIP limit), productivity will decrease due to multitasking.
  To speed up the work, you can move team members between columns of the task board. All you have to do is drag the human icon from the selected column on the task board. Each team member has the same productivity.
  <p>You can change the pace of time or stop it at any time using the slider and the Start button. Pressing the Start' button again will resume the passage of time. Do it if you can not keep up with people and tasks.</p>
  <p>The progress of tasks can be monitored with the help of many reports used in agile projects such as burndown chart, velocity chart, cumulative flow chart, or burnup chart. You can read more about these charts on separate tabs. The game ends when 4 sprints pass.</p>
  <a routerLink="/game" class="btn btn-primary float-right">Play Game</a>
</div>
