<div class="container results">
  <h1>Results:</h1>
  <div>Analyzing Efficiency: {{ resultsService.getAnalyzingEfficiency().toFixed(2) }}%</div>
  <div>Working Efficiency: {{ resultsService.getWorkingEfficiency().toFixed(2) }}%</div>
  <div>Testing Efficiency: {{ resultsService.getTestingEfficiency().toFixed(2) }}%</div>
  <div>Value Delivered: ${{ resultsService.getValueDelivered().toFixed(2) }} / Value Lost: ${{ resultsService.getValueLost().toFixed(2) }}</div>
  <a routerLink="/game" class="btn btn-primary float-right">Play Again</a>
</div>
