<div class="progress">
  <div class="progress-bar" [ngClass]="{ 'bg-success':currentProgress == progress.INSTRUCTIONS}" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Instructions</div>&nbsp;
  <div class="progress-bar" [ngClass]="{ 'bg-success':currentProgress == progress.GAME}" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Play The Game</div>&nbsp;
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Review</div>&nbsp;
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Play Again</div>
</div>
